# Database
DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=applicationuser
DB_PASSWORD=applicationPass4321
DB_NAME=expense_tracker
DB_SSL_MODE=disable

# JWT
JWT_SECRET='UMnri5qJuAw/OsRe9gcGzOb2/VZYfvqa66qpSi4KYjk=' #openssl rand -base64 32
JWT_EXPIRY_DAYS=7

# Server
PORT=7070
ENVIRONMENT=development
LOG_LEVEL=INFO

# File Upload
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=10485760
STORAGE_TYPE=local

# Email (optional)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
FROM_EMAIL=your-email@gmail.com

# Elasticsearch Configuration
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_INDEX=expenses